<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>

<div id="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <!-- Add more menu items as needed -->
        {% if request.user.is_authenticated %}
        <li>
            Hello {{request.user.first_name|default:request.user.username}}
        </li>
        <li>
            <a href="{% url 'account:logout'%}">
                Logout
            </a>
        </li>
        <li>
            <a href="{% url 'account:password_change'%}">Change-Password</a>
        </li>
        <li>
            <a href="{% url 'account:edit' %}">Edit Profile</a>
        </li>
        {% else %}
            <a href="{% url 'account:login' %}">Log-in</a>

        {% endif %}
    </ul>
</div>
{% if messages %}
    <p>Fuck</p>
    <ul>
        {% for message in messages %}
            <li>
                {{message|safe}}
                <a href="#">x</a>
            </li>

        {% endfor %}
    </ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
