<html>
    <body>
        <script>
            function loadLimitedObjects(limit) {
            const url = `/load_limited_objects/${limit}/`;  // Adjust the URL as needed
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const objectsContainer = document.getElementById('objects-container');
                    objectsContainer.innerHTML = '';  // Clear existing content
                    data.objects.forEach(obj => {
                        const objectDiv = document.createElement('div');
                        objectDiv.textContent = `ID: ${obj.id}, Name: ${obj.name}`;
                        objectsContainer.appendChild(objectDiv);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
        

        </script>
        
        <div id="objects-container">

        </div>
        <button onclick="loadLimitedObject()">
        Load 5 objects
        </button>

        
        
    </body>
</html>